{% extends "/base/mdl-dashboard.jinja2" %}
{% block title %}List All processors{% endblock %}
{% block layout_title %}List All processors{% endblock %}

{% block where_am_i %}
<li><a href="{{ request.route_path('admin.home') }}">Admin</a></li>
<li><a href="{{ request.route_path('admin.processors.list') }}">processors</a></li>
{% endblock %}

{% block contents %}
<section>
	<table class="mdl-data-table mdl-js-data-table">
		<thead>
  			<tr>
    			<th class="mdl-data-table__cell--non-numeric">ID</th>
    			<th class="mdl-data-table__cell--non-numeric">Update</th>
    			<th class="mdl-data-table__cell--non-numeric">Owner</th>
    			<th class="mdl-data-table__cell--non-numeric">Status</th>
  			</tr>
		</thead>
		<tbody>
		{% for fail in run_fail_status %}
        {% set processor = fail.processor %}
  			<tr>
    			<td class="mdl-data-table__cell--non-numeric">
    				<a href="{{ request.route_path('admin.processors.show', processor_id=processor.id) }}">{{ processor.id }}
    			</td>
    			<td class="mdl-data-table__cell--non-numeric">{{ processor.updated_date }}</td>
    			<td class="mdl-data-table__cell--non-numeric">{{ processor.owner.email }}</td>
    			<td class="mdl-data-table__cell--non-numeric">{{ processor.status }}</td>
  			</tr>
  		{% endfor %}
		</tbody>
	</table>
</section>
{% endblock %}
