{% extends "/base/mdl-dashboard.jinja2" %}
{% block title %}List All cameras{% endblock %}
{% block layout_title %}List All cameras{% endblock %}

{% block where_am_i %}
<li><a href="{{ request.route_path('admin.home') }}">Admin</a></li>
<li><a href="{{ request.route_path('admin.cameras.list') }}">cameras</a></li>
{% endblock %}

{% block contents %}
<section>
	<table class="mdl-data-table mdl-js-data-table">
		<thead>
  			<tr>
    			<th class="mdl-data-table__cell--non-numeric">ID</th>
    			<th class="mdl-data-table__cell--non-numeric">Update</th>
    			<th class="mdl-data-table__cell--non-numeric">Owner</th>
    			<th class="mdl-data-table__cell--non-numeric">Status</th>
  			</tr>
		</thead>
		<tbody>
		{% for camera in cameras %}
  			<tr>
    			<td class="mdl-data-table__cell--non-numeric">
            <a href="{{ request.route_path('admin.cameras.view', camera_id=camera.id) }}">{{ camera.id }}<br/>
              {{ camera.name }}
            </a>
    			</td>
    			<td class="mdl-data-table__cell--non-numeric">{{ camera.updated_date }}</td>
    			<td class="mdl-data-table__cell--non-numeric">{{ camera.owner.email }}</td>
    			<td class="mdl-data-table__cell--non-numeric">{{ camera.status }}</td>
  			</tr>
  		{% endfor %}
		</tbody>
	</table>
</section>
{% endblock %}
