{% extends "/base/mdl-dashboard.jinja2" %}
{% block title %}List Cameras{% endblock %}
{% block layout_title %}List Processors{% endblock %}

<%block name="where_am_i">
<li><a href="{{request.route_path('admin.home')}}">Admin</a></li>
<li><a href="{{request.route_path('admin.processors.list')}}">Processor</a></li>
</%block>

{% block contents %}
<section>
	<table class="mdl-data-table mdl-js-data-table">
		<thead>
  			<tr>
    			<th rowspan="2" class="mdl-data-table__cell--non-numeric">ID</th>
    			<th rowspan="2" class="mdl-data-table__cell--non-numeric">Update</th>
    			<th rowspan="2" class="mdl-data-table__cell--non-numeric">Owner</th>
    			<th rowspan="2" class="mdl-data-table__cell--non-numeric">Status</th>
    			<th colspan="3" class="mdl-data-table__cell--non-numeric">Operating</th>
  			</tr>
  			<tr style="vertical-align: bottom">
         		<th class="mdl-data-table__cell--non-numeric">Status</th>
            <th>Diff times</th>
         		<th class="mdl-data-table__cell--non-numeric">Compute node</th>
      		</tr>
		</thead>
		<tbody>
		{% for processor in processors %}
  			<tr>
    			<td class="mdl-data-table__cell--non-numeric">
    				<a href="{{request.route_path('admin.processors.view', processor_id=processor.id)}}">
                {{processor.id}}
            </a>
            <br/> {{processor.name}}
    			</td>
    			<td class="mdl-data-table__cell--non-numeric">{{processor.updated_date}}</td>
    			<td class="mdl-data-table__cell--non-numeric">{{processor.owner.email}}</td>
    			<td class="mdl-data-table__cell--non-numeric">{{processor.status}}</td>
    			<td class="mdl-data-table__cell--non-numeric">{{processor.operating.status}}</td>
    			<td>{{(datetime.datetime.now()-processor.operating.updated_date).seconds}} s</td>
    			<td class="mdl-data-table__cell--non-numeric">
    				{% if processor.operating.compute_node %}
					  <a href="{{request.route_path('admin.compute_nodes.view', compute_node_id=processor.operating.compute_node.id)}}">{{processor.operating.compute_node.host}}</a>
					  {% else %}
					  Waiting
					  {% endif %}
				</td>
  			</tr>
  		{% endfor %}
		</tbody>
	</table>
</section>
{% endblock %}
