{% extends "/base/mdl-dashboard.jinja2" %}
{% block title %}Browser{% endblock %}
{% block layout_title %}Storage List{% endblock %}

{% block where_am_i %}
{{super()}}
{#
	url = unquote(request.current_route_path())
	url = url[len('/home/storage/list/'):]
	end = url.find('/') if url.find('/') != -1 else len(url)
	processor_id = url[:end]
	processor = request.nokkhum_client.processors.get(processor_id)
#}
<li>
	<a href="${request.route_path('projects.index', project_id=processor.project.id)}">Projects</a>
</li>
<li>
	<a href="${request.route_path('processors.index', project_id=processor.project.id)}">Processers</a>
</li>
<li>
	<a href="${urllib.parse.unquote(request.route_path('storage.list', extension='/%s'%processor.id))}">Storage</a>
</li>

{% endblock %}

{% block contents %}
  {% if file_list | count > 0 %}
				{% set url = urllib.parse.unquote(request.current_route_path()) %}
				{% set back = url[:url.rfind('/')] %}
        <div>
				{% if back[back.rfind('/')+1:] != 'list' %}
				<a href="{{back}}">Back</a>
				{% endif %}
        </div>
        {% for item in file_list %}
          <div style="float:left; padding:10px">
              <div>
							{% if ".png" in item[0] %}
							  <img src="{{item[3]}}" width="200px" />
							{% else %}
              {# <a href="{{item[1]}}">{{item[0]}}</a> #}
                 <a href="{{item[1]}}" title="view: {{item[0]}}">
                   <span style="font-size:150pt;" class="material-icons">perm_media</span>
                </a>
							{% endif %}
              </div>
              <div>
                <div style="width:200px">
                {{item[0]}} <br/>
                </div>
                <div>
							  <a href="{{item[1]}}" title="view"><span class="material-icons">visibility</span></a>
							  <a href="{{item[2]}}" title="delete"><span class="material-icons">delete</span></a>
                </div>
              </div>
          </div>
				{% endfor %}

		{% endif %}
{% endblock %}
