{% extends "/base/mdl-dashboard.jinja2" %}
{% block title %}List Command Log{% endblock %}
{% block layout_title %}List Command Log{% endblock %}

{% block where_am_i %}
<li><a href="{{ request.route_path('admin.home')}}">Admin</a></li>
<li><a href="{{ request.route_path('admin.command_log.list')}}">Command Log</a></li>
{% endblock %}

<section>
<span style="font-weight: bold;">Current Date:</span> {{ datetime.datetime.now() }}
</section>

{% block contents %}
<section>
	<table class="mdl-data-table mdl-js-data-table">
		<thead>
  			<tr>
    			<th class="mdl-data-table__cell--non-numeric">ID</th>
    			<th class="mdl-data-table__cell--non-numeric">Processor Name</th>
    			<th class="mdl-data-table__cell--non-numeric">Owner</th>
    			<th class="mdl-data-table__cell--non-numeric">Action</th>
    			<th class="mdl-data-table__cell--non-numeric">Date</th>
    			<th class="mdl-data-table__cell--non-numeric">Complete Date</th>
    			<th class="mdl-data-table__cell--non-numeric">Compute Node</th>
    			<th class="mdl-data-table__cell--non-numeric">Status</th>
    			<th class="mdl-data-table__cell--non-numeric">Message</th>
  			</tr>
		</thead>
		<tbody>
			{% for command in processor_commands %}
			<tr>
				<td class="mdl-data-table__cell--non-numeric">
					<a href="{{ request.route_path('admin.processor_commands.show', processor_command_id=command.id)}}">{{ command.id }}</a>
				</td>
				<td class="mdl-data-table__cell--non-numeric">
				<a href="{{ request.route_path('admin.processors.show', processor_id=command.processor.id)}}">{{ command.processor.id }}</a>
        <br/>{{ command.processor.name}}
				</td>
				{% if command.owner %}
				<td class="mdl-data-table__cell--non-numeric"><a href="{{ request.route_path('admin.users.show', user_id=command.owner.id)}}">{{ command.owner.email }}</a></td>
				{% else %}
				<td class="mdl-data-table__cell--non-numeric">{{ command.command_type }}</td>
				{% endif %}
				<td class="mdl-data-table__cell--non-numeric">{{ command.action }}</td>
				<td class="mdl-data-table__cell--non-numeric">{{ command.commanded_date }}</td>
				<td class="mdl-data-table__cell--non-numeric">{{ command.completed_date }}</td>
				{% if command.compute_node %}
				<td class="mdl-data-table__cell--non-numeric"><a href="{{ request.route_path('admin.compute_nodes.show', compute_node_id=command.compute_node.id)}}">{{ command.compute_node.name }}</a></td>
				{% else %}
				<td class="mdl-data-table__cell--non-numeric">None</td>
				{% endif %}
				<td class="mdl-data-table__cell--non-numeric">{{ command.status }}</td>
				<td class="mdl-data-table__cell--non-numeric">{{ command.message.replace("\n", "<br/>") | safe }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
{% endblock %}
