{% extends "/base/mdl-dashboard.jinja2" %}
{% block title %}Processor Running Fail{% endblock %}
{% block layout_title %}Processor Running Fail{% endblock %}

{% block where_am_i %}
<li><a href="{{ request.route_path('admin.home') }}">Admin</a></li>
<li><a href="{{ request.route_path('admin.processors.list') }}">Processors</a></li>
<li><a href="{{ request.route_path('admin.processor_running_fail.list') }}">Run Fail</a></li>
{% endblock %}


{% block contents %}
<section>
	<table class="mdl-data-table mdl-js-data-table">
		<thead>
  			<tr>
    			<th class="mdl-data-table__cell--non-numeric">Camera Name</th>
    			<th class="mdl-data-table__cell--non-numeric">Compute Node</th>
    			<th class="mdl-data-table__cell--non-numeric">Report Time</th>
    			<th class="mdl-data-table__cell--non-numeric">Process Time</th>
    			<th class="mdl-data-table__cell--non-numeric">Message</th>
  			</tr>
		</thead>
		<tbody>
			{% for fail_status in run_fail_status %}
			<tr>
				<td class="mdl-data-table__cell--non-numeric">{{ fail_status.processor.id }}: {{ fail_status.processor.name }}</td>
				<td class="mdl-data-table__cell--non-numeric"><a href="{{ request.route_path('admin.compute_nodes.view', compute_node_id=fail_status.compute_node.id) }}">{{ fail_status.compute_node.name }}</a></td>
				<td class="mdl-data-table__cell--non-numeric">{{ fail_status.reported_date }}</td>
				<td class="mdl-data-table__cell--non-numeric">{{ fail_status.processed_date }}</td>
				<td class="mdl-data-table__cell--non-numeric">{{ fail_status.message.replace("\n", "<br/>") | safe }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
{% endblock %}
