{% extends "/base/mdl-dashboard.jinja2" %}
{% block title %}All Projects{% endblock %}
{% block layout_title %}Projects{% endblock %}

<%block name="where_am_i">
<li><a href="${request.route_path('projects.index')}">Projects</a></li>
</%block>

<%block name="panel_title">All Project</%block>

<%block name="more_body">
<section>
<a href="${request.route_path('projects.add')}">Add Project</a>
</section>
</%block>

{% block contents %}
{% if projects %}
<div align="center">
<table class="mdl-data-table mdl-js-data-table"> 
	<thead>
		<tr>
			<th class="mdl-data-table__cell--non-numeric">Name</th>
			<th>Cameras</th>
			<th>Processors</th>
		</tr>
	</thead>
	<tbody>
    {% for project in projects %}
		<tr>
			<td class="mdl-data-table__cell--non-numeric">
				<div class="pull-left">
          <a href="{{request.route_path('projects.view', project_id=project.id)}}">
            {{project.name}}
          </a>
				</div>
				<div class="pull-right">
          <a href="{{request.route_path('projects.edit', project_id=project.id)}}">
					 	<span class="glyphicon glyphicon-edit"></span>
					</a>
          <a href="{{request.route_path('projects.delete', project_id=project.id)}}">
					 	<span class="glyphicon glyphicon-trash"></span>
					</a>
				</div>
			</td>
			<td>
        <span class="material-icons mdl-badge" data-badge="{{project.camera_number}}"><a href="{{request.route_path('cameras.index', project_id=project.id)}}">settings</a></span>
			</td>
			<td>
        <span class="material-icons mdl-badge" data-badge="{{project.processor_number}}"><a href="{{request.route_path('processors.index', project_id=project.id)}}">settings</a></span>
			</td>
		</tr>
    {% endfor %}
	</tbody>
</table>
</div>

<a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" href="{{request.route_path('projects.add')}}">
    <i class="material-icons">add</i>
</a>
{% endif %}
{% endblock %}

