{% extends "/base/mdl-dashboard.jinja2" %}
{% block title %}Show Projects{% endblock %}

{% block where_am_i %}
<li><a href="{{request.route_path('projects.index')}}">Projects</a></li>
{% endblock %}

{% block layout_title %}Show Project{% endblock %}

{% block contents %}
<section>
	<ul>
		<li><b>ID :</b>{{project.id}}</li>
		<li><b>name :</b>{{project.name}}</li>
		<li><b>description :</b>{{project.description}}</li>
		<li><b>manager :</b>
			<ul>
				<li><a href="{{request.route_path('projects.index', project_id=project.id)}}">Overview</a></li>
				<li><a href="{{request.route_path('cameras.index', project_id=project.id)}}">Cameras Manager</a></li>
				<li><a href="{{request.route_path('processors.index', project_id=project.id)}}">Processors Manager</a></li>
			</ul>
		</li>
	</ul>
</section>
{% endblock %}
