{% extends "/base/mdl-dashboard.jinja2" %}
{% block title %}Add camera{% endblock %}
{% block layout_title %}Camera Adding{% endblock %}

{% block addition_header %}
<script type="text/javascript">
$(document).ready(function(){

	$('#camera_man').change(function(){
		$.ajax({
			url: "/manufactories/"+$(this).val()+"/models"
		})
		.done(function(data, status) {
			var camera_model = null;
			var options = $("#camera_model").prop('options');
			options.length = 0;
			for (var i = 0; i < data.camera_models.length; ++i) {
				options[options.length] = new Option(data.camera_models[i].name, data.camera_models[i].id);
			}
		});

	});
});
</script>
{% endblock %}

{% block whare_am_i %}
<li><a href="{{ request.route_path('projects.index', project_id=request.matchdict['project_id']) }}}">Project</a></li>
<li><a href="#">Camera</a></li>
{% endblock %}


{% block contents %}
<form action="{{ request.current_route_path() }}" method="POST" >

    	{{ form.name }} <br/>

    	{{ form.uri }} <br/>

    	{{ form.host }} <br/>

      {{ form.port }} <br/>

    	{{ form.username }} <br/>

    	{{ form.password }} <br/>

    	{{ form.fps }} <br/>

    	{{ form.image_size }} <br/>

    	{{ form.camera_man }} <br/>

    	{{ form.camera_model }} <br/>

    	{{ form.location }}  <br/>

    <input type="submit" value="Submit"/>
</div>
</form>
{% endblock %}
