{% extends "/base/mdl-dashboard.jinja2" %}

{% block title %}Edit Camera{% endblock %}
{% block panel_title %}Edit camera name: {{camera.name}}{% endblock %}

{% block addition_header %}

{{super()}}

<script src="/public/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){

	$('#camera_man').change(function(){
		$.ajax({
			url: "/manufactories/"+$(this).val()+"/models"
		})
		.done(function(data, status) {
			var camera_model = null;
			var options = $("#camera_model").prop('options');
			options.length = 0;
			for (var i = 0; i < data.camera_models.length; ++i) {
				options[options.length] = new Option(data.camera_models[i].name, data.camera_models[i].id);
			}
		});

	});
});
</script>
{% endblock %}

{% block contents %}
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--6-col">
  <form for="form" action="{{request.current_route_path()}}" method="POST">
    {# {{form.name(placeholder="Enter camera name")}} <br/> #}
    {{form.name()}} <br/>
    {# {{form.uri(class_="form-control", placeholder="Enter URI")}} <br/> #}
    {{form.uri()}} <br/>
    {# {{form.host(class_="form-control", placeholder="Enter host ip")}} <br/> #}
    {{form.host()}} <br/>
    {# {{form.port(class_="form-control", placeholder="Enter port")}} <br/> #}
    {{form.port()}} <br/>
    {# {{form.username(class_="form-control", placeholder="Enter password")}} <br/> #}
    {{form.username()}} <br/>
    {# {{form.password(class_="form-control", placeholder="Enter confirm password")}} <br/> #}
    {{form.password()}} <br/>
    {# {{form.fps(class_="form-control")}} <br/> #}
    {{form.fps()}} <br/>
    {# {{form.image_size(class_="form-control")}} <br/> #}
    {{form.image_size()}} <br/>
    {# {{form.camera_man(class_="form-control")}} <br/> #}
    {{form.camera_man()}} <br/>
    {# {{form.camera_model(class_="form-control")}} <br/> #}
    {{form.camera_model()}} <br/>
    {# {{form.location(class_="form-control", placeholder="Enter locattion: latitude, longitude / 7.0073213, 100.5021036")}} <br/> #}
    {{form.location()}} <br/>
	<div style="width: 100px; text-align: right; padding-top: 50px">
	    <input type="submit" value="Edit" />
	</div>
</form>
</div>
</div>
{% endblock %}

