{% extends "/base/mdl-dashboard.jinja2" %}
{% block title %}Camera: {{camera.name}} information{% endblock %}
{% block section_title %}Camera Information{% endblock %}
{% block layout_title %}Camera Information{% endblock %}

{%block whare_am_i %}
## <li><a href="{{request.route_path('projects.index', project_id=request.matchdict['project_id'])}}">Project</a></li>
<li><a href="{{request.route_path('cameras.index', project_id=request.matchdict['project_id'])}}">Camera</a></li>
{% endblock %}

{% block contents%}
<img src="{{ camera.video_uri }}" />
<ul>
	<li><b>Camera: </b>{{camera.name}}</li>
	<li><b>Video URI: </b>{{camera.video_uri}}</li>
	<li><b>Username: </b>{{camera.username}}</li>
	<li><b>Password: </b>{{camera.password}}</li>
	<li><b>FPS: </b>{{camera.fps}}</li>
	<li><b>Image Size: </b>{{camera.image_size}}</li>
	<li><b>Camera Model: </b>{{camera.camera_model.name}}</li>
	<li><b>Manufatory: </b>{{camera.camera_model.manufactory.name}}</li>
	<li><b>Create Date: </b>{{camera.created_date}}</li>
	<li><b>Last Update: </b>{{camera.updated_date}}</li>
	<li><b>Location: </b>{{camera.location}}</li>
</ul>
{% endblock %}
