{% extends "/base/mdl-dashboard.jinja2" %}
{% block title %}About Nokkhum{% endblock %}
{% block layout_title %}About{% endblock %}

{% block contents %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet"></div>
        <div class="mdl-cell mdl-cell--8-col mdl-cell--10-col-tablet">
  	<h2>What is Nokkhum ?</h2>
  	<div style="text-align:center;">
  			<img alt="นกคุ่ม (nokkhum)" src="/public/images/nokkhum.png" width="100px" />
		</div>
		<p>
    Nokkhum is a small bird as known as a Quail.
    In Thailand, Nokkhum is a symbolize of protection and "khum" is a similar sound of the Thai word that mean protection.
    As the Praparitra legend, Nokkhum is one of the avatars of Bodhisattva that was born.
    He set mental prayer of the truth of his story for preventing the fires that will hurt to him.
    Therefore, this video surveillance system is called <strong>Nokkhum</strong>.
    </p>
        </div>
        <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet"></div>

{% endblock %}

