{% extends "/base/mdl-dashboard.jinja2" %}
{% block titleL %}List All User{% endblock %}
{% block layout_title %}List All User{% endblock %}

{% block where_am_i %}
<li><a href="{{ request.route_path('admin.home') }}">Admin</a></li>
<li><a href="{{ request.route_path('admin.users.list') }}">User</a></li>
{% endblock %}

{% block contents %}
<section>
	<table class="mdl-data-table mdl-js-data-table">
		<thead>
  			<tr>
    			<th class="mdl-data-table__cell--non-numeric">ID</th>
    			<th class="mdl-data-table__cell--non-numeric">Name</th>
    			<th class="mdl-data-table__cell--non-numeric">Email</th>
    			<th class="mdl-data-table__cell--non-numeric">Status</th>
    			<th class="mdl-data-table__cell--non-numeric">Roles</th>
    			<th class="mdl-data-table__cell--non-numeric">Regist Date</th>
    			<th class="mdl-data-table__cell--non-numeric">Update Date</th>
  			</tr>
		</thead>
		<tbody>
			{% for user in users %}
			<tr>
				<td class="mdl-data-table__cell--non-numeric"><a href="{{ request.route_path('admin.users.view', user_id=user.id) }}">{{ user.id }}</a></td>
				<td class="mdl-data-table__cell--non-numeric">{{ user.first_name }} {{ user.last_name }}</td>
				<td class="mdl-data-table__cell--non-numeric">{{ user.email }}</td>
				<td class="mdl-data-table__cell--non-numeric">{{ user.status }}</td>
				<td class="mdl-data-table__cell--non-numeric">
				{% for role in user.roles %}
				{{ role.name }},
				{% endfor %}
				</td>
				<td class="mdl-data-table__cell--non-numeric">{{ user.registration_date }}</td>
				<td class="mdl-data-table__cell--non-numeric">{{ user.updated_date }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
{% endblock %}
